body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
div {
  text-align: center;
  font-size: 40px;
  color: red;
}

button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
}

button:hover {
  background-color: #e53935;
  transform: scale(1.1);
}
